<DocsHero/>

<div class="docs-container">
  {{#docs-demo as |demo|}}
    {{#demo.example name="docs-demo-basic.hbs"}}
      <section>
        {{#file-dropzone name="files" as |dropzone|}}
          <div class="drop-zone-rect {{if dropzone.active "active"}}" >
            <div class="drop-zone-content">
              {{#if dropzone.active}}
                <h3>Drop to upload</h3>
              {{else}}
                {{#if dropzone.supported}}
                  Drag and drop files onto this area to upload them or
                {{/if}}
                {{#file-upload
                  name="files"
                  multiple=true
                  onfileadd=(action "uploadFile")}}
                  <a class="btn btn-primary btn-sm">{{fa-icon "file"}} Browse Files</a>
                {{/file-upload}}
              {{/if}}
            </div>
          </div>
        {{/file-dropzone}}
      </section>

      <section>
        Tus Server Location: {{tusUrl}}
      </section>

      <section>
        Number of file uploads: {{tus.uploads.length}}
      </section>

      {{#if tus.uploads.length}}
        <table class="docs-mb-6" data-test-item-params>
          <thead>
            <tr>
              <th>File Name</th>
              <th>Size</th>
              <th>Progress</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {{#each tus.uploads as |upload|}}
              <tr>
                <td>{{upload.fileName}}</td>
                <td>{{upload.fileSize}}</td>
                <td>{{upload.progress}}</td>
                <td>
                  {{upload.status}}
                  {{#if upload.isErrored}}
                    <p>{{upload.errorMessage}}</p>
                  {{/if}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/if}}

      <section>
        Ember-File-Upload:File-Queue:Progress:
        {{#with (file-queue) as |queue|}}
          {{queue.progress}}%
        {{/with}}
      </section>
    {{/demo.example}}

    {{docs-snippet name="tus-controller.js"}}
    <br>
    {{demo.snippet "docs-demo-basic.hbs"}}
  {{/docs-demo}}
</div>
